CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_EFI_IMAGES=y
CONFIG_NFS_KERNEL_SERVER_V4=y
CONFIG_PACKAGE_acme=m
CONFIG_PACKAGE_adblock=y
CONFIG_PACKAGE_adbyby=m
CONFIG_PACKAGE_alsa-lib=m
CONFIG_PACKAGE_alsa-utils=m
CONFIG_PACKAGE_amule=m
CONFIG_PACKAGE_aria2=m
CONFIG_PACKAGE_ariang=m
CONFIG_PACKAGE_attendedsysupgrade-common=m
CONFIG_PACKAGE_avahi-dbus-daemon=m
CONFIG_PACKAGE_baidupcs-web=m
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_boost-chrono=m
CONFIG_PACKAGE_boost-random=m
CONFIG_PACKAGE_btrfs-progs=m
CONFIG_PACKAGE_cgi-io=m
CONFIG_PACKAGE_cgroupfs-mount=m
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-cpu=y
CONFIG_PACKAGE_collectd-mod-interface=y
CONFIG_PACKAGE_collectd-mod-iwinfo=y
CONFIG_PACKAGE_collectd-mod-load=y
CONFIG_PACKAGE_collectd-mod-memory=y
CONFIG_PACKAGE_collectd-mod-network=y
CONFIG_PACKAGE_collectd-mod-rrdtool=y
CONFIG_PACKAGE_confuse=m
CONFIG_PACKAGE_containerd=m
CONFIG_PACKAGE_cshark=m
CONFIG_PACKAGE_dbus=m
CONFIG_PACKAGE_docker-ce=m
CONFIG_PACKAGE_fdk-aac=m
CONFIG_PACKAGE_forked-daapd=m
CONFIG_PACKAGE_freifunk-common=y
CONFIG_PACKAGE_freifunk-firewall=y
CONFIG_PACKAGE_freifunk-policyrouting=y
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_frps=m
CONFIG_PACKAGE_fuse-utils=m
CONFIG_PACKAGE_grub2-efi=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_icu=m
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=m
CONFIG_PACKAGE_iptables-mod-filter=m
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_kcptun-client=y
CONFIG_PACKAGE_kmod-ac97=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-crypto-cts=y
CONFIG_PACKAGE_kmod-crypto-md4=m
CONFIG_PACKAGE_kmod-dax=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-filter=m
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-lib-crc32c=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-regmap-core=m
CONFIG_PACKAGE_kmod-sched-connmark=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=m
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=m
CONFIG_PACKAGE_kmod-sound-hda-codec-via=m
CONFIG_PACKAGE_kmod-sound-hda-core=m
CONFIG_PACKAGE_kmod-sound-hda-intel=m
CONFIG_PACKAGE_kmod-sound-i8x0=m
CONFIG_PACKAGE_kmod-sound-mpu401=m
CONFIG_PACKAGE_kmod-sound-via82xx=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-udptunnel4=m
CONFIG_PACKAGE_kmod-udptunnel6=m
CONFIG_PACKAGE_kmod-usb-audio=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_lame-lib=m
CONFIG_PACKAGE_libalac=m
CONFIG_PACKAGE_libantlr3c=m
CONFIG_PACKAGE_libattr=m
CONFIG_PACKAGE_libavahi-client=m
CONFIG_PACKAGE_libavahi-dbus-support=m
CONFIG_PACKAGE_libbfd=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcap=m
CONFIG_PACKAGE_libconfig=m
CONFIG_PACKAGE_libcryptopp=m
CONFIG_PACKAGE_libdaemon=m
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libdbus=m
CONFIG_PACKAGE_libdevmapper=y
CONFIG_PACKAGE_libdouble-conversion=m
CONFIG_PACKAGE_libexpat=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libffmpeg-full=m
CONFIG_PACKAGE_libfuse=m
CONFIG_PACKAGE_libgcrypt=m
CONFIG_PACKAGE_libgd=y
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgnutls=m
CONFIG_PACKAGE_libgpg-error=m
CONFIG_PACKAGE_libjpeg=y
CONFIG_PACKAGE_libkeyutils=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblzma=m
CONFIG_PACKAGE_liblzo=m
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libnettle=m
CONFIG_PACKAGE_libnetwork=m
CONFIG_PACKAGE_libopus=m
CONFIG_PACKAGE_libpcre2-16=m
CONFIG_PACKAGE_libplist=m
CONFIG_PACKAGE_libpopt=m
CONFIG_PACKAGE_libprotobuf-c=m
CONFIG_PACKAGE_librrd1=y
CONFIG_PACKAGE_libsoxr=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libtirpc=y
CONFIG_PACKAGE_libunistring=m
CONFIG_PACKAGE_libupnp=m
CONFIG_PACKAGE_libustream-mbedtls=m
CONFIG_PACKAGE_libwebsockets-full=m
CONFIG_PACKAGE_libwrap=y
CONFIG_PACKAGE_libwxbase=m
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_luci-app-acme=m
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-advanced-reboot=m
CONFIG_PACKAGE_luci-app-airplay2=m
CONFIG_PACKAGE_luci-app-amule=m
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-attendedsysupgrade=m
CONFIG_PACKAGE_luci-app-baidupcs-web=m
CONFIG_PACKAGE_luci-app-cifs-mount=m
CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-control-timewol=m
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=m
CONFIG_PACKAGE_luci-app-cshark=m
CONFIG_PACKAGE_luci-app-diag-core=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-frps=m
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-kcptun=m
CONFIG_PACKAGE_luci-app-music-remote-center=m
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-openvpn-server=m
CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-rclone=m
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-timecontrol=y
CONFIG_PACKAGE_luci-app-transmission=y
CONFIG_PACKAGE_luci-app-udpxy=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-usb-printer=m
CONFIG_PACKAGE_luci-app-vnstat=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-webadmin=y
CONFIG_PACKAGE_luci-app-wireguard=m
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-app-xlnetacc=m
CONFIG_PACKAGE_luci-app-zerotier=m
CONFIG_PACKAGE_luci-i18n-adblock-zh-cn=y
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-advanced-reboot-zh-cn=m
CONFIG_PACKAGE_luci-i18n-airplay2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-amule-zh-cn=m
CONFIG_PACKAGE_luci-i18n-aria2-zh-cn=m
CONFIG_PACKAGE_luci-i18n-cifs-mount-zh-cn=m
CONFIG_PACKAGE_luci-i18n-commands-zh-cn=y
CONFIG_PACKAGE_luci-i18n-control-timewol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-control-webrestriction-zh-cn=y
CONFIG_PACKAGE_luci-i18n-control-weburl-zh-cn=m
CONFIG_PACKAGE_luci-i18n-diag-core-zh-cn=y
CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=m
CONFIG_PACKAGE_luci-i18n-freifunk-zh-cn=y
CONFIG_PACKAGE_luci-i18n-frps-zh-cn=m
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-kcptun-zh-cn=m
CONFIG_PACKAGE_luci-i18n-music-remote-center-zh-cn=m
CONFIG_PACKAGE_luci-i18n-netdata-zh-cn=y
CONFIG_PACKAGE_luci-i18n-nfs-zh-cn=y
CONFIG_PACKAGE_luci-i18n-openvpn-server-zh-cn=m
CONFIG_PACKAGE_luci-i18n-openvpn-zh-cn=y
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=m
CONFIG_PACKAGE_luci-i18n-qos-zh-cn=y
CONFIG_PACKAGE_luci-i18n-rclone-zh-cn=m
CONFIG_PACKAGE_luci-i18n-statistics-zh-cn=y
CONFIG_PACKAGE_luci-i18n-timecontrol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-i18n-uhttpd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vnstat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-webadmin-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=m
CONFIG_PACKAGE_luci-i18n-wrtbwmon-zh-cn=y
CONFIG_PACKAGE_luci-i18n-zerotier-zh-cn=m
CONFIG_PACKAGE_luci-lib-json=y
CONFIG_PACKAGE_luci-mod-freifunk=y
CONFIG_PACKAGE_luci-proto-wireguard=m
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argon-dark-mod=y
CONFIG_PACKAGE_luci-theme-argon-light-mod=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_mxml=m
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_nfs-kernel-server=y
CONFIG_PACKAGE_nfs-kernel-server-utils=y
CONFIG_PACKAGE_nfs-utils=y
CONFIG_PACKAGE_nfs-utils-libs=y
CONFIG_PACKAGE_openvpn-easy-rsa=m
CONFIG_PACKAGE_openvpn-openssl=m
CONFIG_PACKAGE_p910nd=m
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-gdbm=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qBittorrent=m
CONFIG_PACKAGE_qos-scripts=y
CONFIG_PACKAGE_qt5-core=m
CONFIG_PACKAGE_qt5-network=m
CONFIG_PACKAGE_qt5-xml=m
CONFIG_PACKAGE_rblibtorrent=m
CONFIG_PACKAGE_rclone=m
CONFIG_PACKAGE_rclone-webui-react=m
CONFIG_PACKAGE_rpcbind=y
CONFIG_PACKAGE_rpcd-mod-rpcsys=m
CONFIG_PACKAGE_rrdtool1=y
CONFIG_PACKAGE_runc=m
CONFIG_PACKAGE_shairport-sync-openssl=m
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_socat=m
CONFIG_PACKAGE_sqlite3-cli=m
CONFIG_PACKAGE_tc=y
CONFIG_PACKAGE_tini=m
CONFIG_PACKAGE_transmission-daemon-openssl=y
CONFIG_PACKAGE_transmission-web-control=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_udpxy=y
CONFIG_PACKAGE_vnstat=y
CONFIG_PACKAGE_vnstati=y
CONFIG_PACKAGE_watchcat=y
CONFIG_PACKAGE_wireguard-tools=m
CONFIG_PACKAGE_zerotier=m
CONFIG_RPCBIND_LIBWRAP=y
CONFIG_RPCBIND_RMTCALLS=y
CONFIG_VDI_IMAGES=y
