CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_MBEDTLS=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_PROXY=y
CONFIG_NFS_KERNEL_SERVER_V4=y
CONFIG_PACKAGE_AdGuardHome=y
# CONFIG_PACKAGE_UnblockNeteaseMusic is not set
# CONFIG_PACKAGE_UnblockNeteaseMusicGo is not set
CONFIG_PACKAGE_adbyby=m
CONFIG_PACKAGE_bash=m
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_boost-chrono=m
CONFIG_PACKAGE_boost-random=m
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_curl=y
# CONFIG_PACKAGE_etherwake is not set
CONFIG_PACKAGE_frpc=m
CONFIG_PACKAGE_haproxy=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_icu=m
CONFIG_PACKAGE_iptables-mod-ipsec=m
CONFIG_PACKAGE_kmod-crypto-acompress=m
CONFIG_PACKAGE_kmod-crypto-arc4=y
CONFIG_PACKAGE_kmod-crypto-cts=y
CONFIG_PACKAGE_kmod-crypto-deflate=m
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-echainiv=m
CONFIG_PACKAGE_kmod-dax=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-fast-classifier=m
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-ipsec=m
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-ipt-ipsec=m
CONFIG_PACKAGE_kmod-iptunnel4=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-lib-zlib-deflate=m
CONFIG_PACKAGE_kmod-lib-zlib-inflate=m
CONFIG_PACKAGE_kmod-shortcut-fe=m
CONFIG_PACKAGE_kmod-tcp-bbr=m
# CONFIG_PACKAGE_kmod-tun is not set
CONFIG_PACKAGE_libbz2=m
# CONFIG_PACKAGE_libcares is not set
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdb47=m
CONFIG_PACKAGE_libdevmapper=y
CONFIG_PACKAGE_libdouble-conversion=m
CONFIG_PACKAGE_libffi=m
CONFIG_PACKAGE_libgdbm=m
CONFIG_PACKAGE_libgmp=m
# CONFIG_PACKAGE_libhttp-parser is not set
CONFIG_PACKAGE_libkeyutils=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblua5.3=y
CONFIG_PACKAGE_liblzma=m
# CONFIG_PACKAGE_libminiupnpc is not set
CONFIG_PACKAGE_libmount=y
# CONFIG_PACKAGE_libnatpmp is not set
# CONFIG_PACKAGE_libnghttp2 is not set
CONFIG_PACKAGE_libpcre2-16=m
CONFIG_PACKAGE_libsqlite3=m
CONFIG_PACKAGE_libtirpc=y
# CONFIG_PACKAGE_libuv is not set
CONFIG_PACKAGE_libwrap=y
CONFIG_PACKAGE_libxml2=m
CONFIG_PACKAGE_libzstd=m
CONFIG_PACKAGE_luci-app-accesscontrol=m
CONFIG_PACKAGE_luci-app-adbyby-plus=m
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-advancedsetting=y
CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-diag-core=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-frpc=m
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-ipsec-vpnd=m
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-openclash=m
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-qbittorrent=m
# CONFIG_PACKAGE_luci-app-ramfree is not set
CONFIG_PACKAGE_luci-app-sfe=m
CONFIG_PACKAGE_luci-app-transmission=y
# CONFIG_PACKAGE_luci-app-unblockmusic is not set
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-watchcat=y
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-app-wrtbwmon=y
# CONFIG_PACKAGE_luci-app-xlnetacc is not set
# CONFIG_PACKAGE_luci-app-zerotier is not set
CONFIG_PACKAGE_luci-i18n-accesscontrol-zh-cn=m
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=m
CONFIG_PACKAGE_luci-i18n-aliddns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-diag-core-zh-cn=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=m
CONFIG_PACKAGE_luci-i18n-hd-idle-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ipsec-vpnd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-nfs-zh-cn=y
CONFIG_PACKAGE_luci-i18n-qbittorrent-zh-cn=m
CONFIG_PACKAGE_luci-i18n-sfe-zh-cn=m
CONFIG_PACKAGE_luci-i18n-transmission-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-vsftpd-zh-cn=m
CONFIG_PACKAGE_luci-i18n-watchcat-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wrtbwmon-zh-cn=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-argon-dark-mod=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-netgear=y
CONFIG_PACKAGE_luci-theme-opentomato=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_nfs-kernel-server=y
CONFIG_PACKAGE_nfs-kernel-server-utils=y
CONFIG_PACKAGE_nfs-utils=y
CONFIG_PACKAGE_nfs-utils-libs=y
# CONFIG_PACKAGE_node is not set
CONFIG_PACKAGE_parted=y
CONFIG_PACKAGE_python3=m
CONFIG_PACKAGE_python3-asyncio=m
CONFIG_PACKAGE_python3-base=m
CONFIG_PACKAGE_python3-cgi=m
CONFIG_PACKAGE_python3-cgitb=m
CONFIG_PACKAGE_python3-codecs=m
CONFIG_PACKAGE_python3-ctypes=m
CONFIG_PACKAGE_python3-dbm=m
CONFIG_PACKAGE_python3-decimal=m
CONFIG_PACKAGE_python3-distutils=m
CONFIG_PACKAGE_python3-email=m
CONFIG_PACKAGE_python3-gdbm=m
CONFIG_PACKAGE_python3-light=m
CONFIG_PACKAGE_python3-logging=m
CONFIG_PACKAGE_python3-lzma=m
CONFIG_PACKAGE_python3-multiprocessing=m
CONFIG_PACKAGE_python3-ncurses=m
CONFIG_PACKAGE_python3-openssl=m
CONFIG_PACKAGE_python3-pydoc=m
CONFIG_PACKAGE_python3-sqlite3=m
CONFIG_PACKAGE_python3-unittest=m
CONFIG_PACKAGE_python3-urllib=m
CONFIG_PACKAGE_python3-xml=m
CONFIG_PACKAGE_qBittorrent=m
CONFIG_PACKAGE_qt5-core=m
CONFIG_PACKAGE_qt5-network=m
CONFIG_PACKAGE_qt5-xml=m
CONFIG_PACKAGE_rblibtorrent=m
CONFIG_PACKAGE_rpcbind=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_strongswan=m
CONFIG_PACKAGE_strongswan-charon=m
CONFIG_PACKAGE_strongswan-ipsec=m
CONFIG_PACKAGE_strongswan-minimal=m
CONFIG_PACKAGE_strongswan-mod-aes=m
CONFIG_PACKAGE_strongswan-mod-gmp=m
CONFIG_PACKAGE_strongswan-mod-hmac=m
CONFIG_PACKAGE_strongswan-mod-kernel-netlink=m
CONFIG_PACKAGE_strongswan-mod-nonce=m
CONFIG_PACKAGE_strongswan-mod-pubkey=m
CONFIG_PACKAGE_strongswan-mod-random=m
CONFIG_PACKAGE_strongswan-mod-sha1=m
CONFIG_PACKAGE_strongswan-mod-socket-default=m
CONFIG_PACKAGE_strongswan-mod-stroke=m
CONFIG_PACKAGE_strongswan-mod-updown=m
CONFIG_PACKAGE_strongswan-mod-x509=m
CONFIG_PACKAGE_strongswan-mod-xauth-generic=m
CONFIG_PACKAGE_strongswan-mod-xcbc=m
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_uclibcxx=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_vlmcsd=m
CONFIG_PACKAGE_vsftpd-alt=m
CONFIG_PACKAGE_watchcat=y
# CONFIG_PACKAGE_wol is not set
# CONFIG_PACKAGE_zerotier is not set
CONFIG_RPCBIND_LIBWRAP=y
CONFIG_RPCBIND_RMTCALLS=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_JSON1=y
CONFIG_SQLITE3_RTREE=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=512
# CONFIG_UnblockNeteaseMusic_Go is not set
# CONFIG_UnblockNeteaseMusic_NodeJS is not set
CONFIG_VDI_IMAGES=y
CONFIG_ZSTD_OPTIMIZE_O3=y
